header {
	float: left;
	padding: 20px;
  	margin-top: 30px;
    margin-left: 60px;
	text-align: center;
	background: #4aaaa5;
	color: white;
	padding: 10px;
	font-family: Georgia, "Times New Roman", Times, serif;
}

p {
	margin: 0 20px;
	color: #777777;
}

h2 {
	margin: 20px;
	color: #4aaaa5;
	border-bottom-style: solid;
}

h3 {
	color: #4aaaa5;
	border-bottom-style: solid;
	margin: 10px 0;
}

#footer {
	text-align: center;
	background: #666;
    border-top-style: solid;
    border-top-color: #4aaaa5;
    border-width: 6px;
    padding: 20px 0px;
    position:fixed;
   	left:0px;
   	bottom:0px;
   	width:100%;
   	color: #777777;
}

.top_section {
	background: white;
	width: 960px;
  	margin: 0 auto;
  	padding: 0;
  	font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
  	font-size: 18px;
  	line-height: 150%;	  
}

#left {
	float: right;
	width: 100px;
	text-align: center;
  	margin-bottom: 20px;
  	margin-top: 20px;
  	color: #777777;
}

#middle {
	float: right;
	width: 100px;
	text-align: center;
  	margin-bottom: 20px;
  	margin-top: 20px;
  	color: #777777;
}

#right {
	float: right;
	width: 100px;
	text-align: center;
  	margin-bottom: 20px;
  	margin-top: 20px;
  	color: #777777;
}

.container {
	clear: both;
	overflow: auto;
	width: 960px;
	margin: 0 auto;
	padding: 0;
	font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
	font-size: 18px;
	line-height: 150%;
	background-image: url("../images/background.png");
	background-repeat: repeat-x;
	border-top-style: solid;
    border-top-color: #dddddd;
}

.contact_info {
	padding: 10px;
}

#main-bio,
#connect,
#photo_me {
	float: left;
}

#main_bio {
	width: 650px;
	font-size: 12px;
	margin-top: 30px;
    margin-left: 60px;
	float: left;
	background: #ffffff;
	margin-bottom: 30px;
}

#connect {
	width: 270;
	float: left;
	text-align: center;
	background: white;
	margin-left: 40px;
	margin-top: 30px;
	padding: 10px;
}

#photo_me {
	width: 200px;
 	height: 200px;
  	margin: 0 20px;
}

#soverflow, 
#linkedin_logo, 
#github_logo {
	height: 50px;
	width: 50px;
}

.top_row {
	clear: both;
  	overflow: auto;
}

.middle_row {
	clear: both;
  	overflow: auto;
}

.bottom_row {
	clear: both;
  	overflow: auto;
}

#hangman {
	float: left;
	width: 50%;
}

#rpg {
	float: left;
	width: 50%;
}

#trivia {
	float: left;
	width: 50%;
}

#rutgers {
	float: left;
	width: 50%;
}

#rock {
	float: left;
	width: 50%;
}









